Repository giasemidis/euroleague_api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-nbstripout-installed, mypy

check-nbstripout-installed:
  name: check-nbstripout-installed
  entry: nbstripout --is-installed
  language: system

mypy:
  name: mypy
  entry: mypy --config-file mypy.ini
  language: system
  require_serial: true
  verbose: true

requirements updated
  .gitignore
  notebooks/get-new-format-seasons-stats.ipynb
  notebooks/get-season-stats.ipynb
  requirements.txt
Due: check-nbstripout-installed

setup updated
  setup.cfg
Due: none

updated docs
  docs/euroleague_api/game_stats.md
  docs/euroleague_api/player_stats.md
  docs/euroleague_api/shot_data.md
  docs/euroleague_api/team_stats.md
  docs/euroleague_api/utils.md
  site/euroleague_api/game_stats.html
  site/euroleague_api/player_stats.html
  site/euroleague_api/shot_data.html
  site/euroleague_api/team_stats.html
  site/euroleague_api/utils.html
Due: none

bug with total number of players returned fixed
  src/euroleague_api/utils.py
Due: mypy

updated setup.cfg
  setup.cfg
Due: none

code refactored in classes, eurocup data now available
  pylintrc
  src/euroleague_api/EuroLeagueData.py
  src/euroleague_api/boxscore_data.py
  src/euroleague_api/game_stats.py
  src/euroleague_api/play_by_play_data.py
  src/euroleague_api/player_stats.py
  src/euroleague_api/shot_data.py
  src/euroleague_api/standings.py
  src/euroleague_api/team_stats.py
  src/euroleague_api/utils.py
Due: mypy

class docstrings added
  src/euroleague_api/EuroLeagueData.py
  src/euroleague_api/boxscore_data.py
  src/euroleague_api/game_stats.py
  src/euroleague_api/play_by_play_data.py
  src/euroleague_api/player_stats.py
  src/euroleague_api/shot_data.py
  src/euroleague_api/standings.py
  src/euroleague_api/team_stats.py
Due: mypy

updated readme
  README.md
  src/euroleague_api/play_by_play_data.py
Due: mypy

docs md and html updated
  docs/euroleague_api/EuroLeagueData.md
  docs/euroleague_api/boxscore_data.md
  docs/euroleague_api/game_stats.md
  docs/euroleague_api/index.md
  docs/euroleague_api/play_by_play_data.md
  docs/euroleague_api/player_stats.md
  docs/euroleague_api/shot_data.md
  docs/euroleague_api/team_stats.md
  docs/euroleague_api/utils.md
  setup.cfg
  site/euroleague_api/EuroLeagueData.html
  site/euroleague_api/boxscore_data.html
  site/euroleague_api/game_stats.html
  site/euroleague_api/index.html
  site/euroleague_api/player_stats.html
  site/euroleague_api/shot_data.html
  site/euroleague_api/standings.html
  site/euroleague_api/team_stats.html
  site/euroleague_api/utils.html
Due: none

notebook updated
  README.md
  notebooks/get-season-stats.ipynb
Due: check-nbstripout-installed

links fixed
  README.md
  setup.cfg
Due: none

possessions and pace added in team advanced stats
  src/euroleague_api/team_stats.py
Due: mypy

notebooks updated
  notebooks/get-new-format-seasons-stats.ipynb
  notebooks/get-season-stats.ipynb
Due: check-nbstripout-installed

season and gamecode added to the df
  src/euroleague_api/team_stats.py
Due: mypy

pbp data with on court players
  .DS_Store
  src/.DS_Store
  src/euroleague_api/team_lineup_euroleague_api.py
Due: mypy

made changes based on PR comments
  src/euroleague_api/team_lineup_euroleague_api.py
Due: mypy

deleted unnecessary files to address PR comment
  .DS_Store
Due: none

pbp data with on court players (#2)
  src/.DS_Store
  src/euroleague_api/team_lineup_euroleague_api.py
Due: mypy

lineup data added on pbp data
  src/euroleague_api/play_by_play_data.py
  src/euroleague_api/team_lineup_euroleague_api.py
Due: mypy

advanced stats corrections
  src/euroleague_api/team_stats.py
Due: mypy

DS_store removed
  src/.DS_Store
Due: none

updated version on setup.cfg
  setup.cfg
Due: none

doc files updated
  docs/euroleague_api/EuroLeagueData.md
  docs/euroleague_api/play_by_play_data.md
  docs/euroleague_api/team_stats.md
  site/euroleague_api/play_by_play_data.html
  site/euroleague_api/team_stats.html
Due: none

updated readme with new links
  README.md
Due: none

fixed more future warnings
  src/euroleague_api/boxscore_data.py
Due: mypy

new version in setup.cfg
  setup.cfg
Due: none

major refactoring in team lineups, minor fixes in default arguments of teams and player stats modules
  src/euroleague_api/play_by_play_data.py
  src/euroleague_api/player_stats.py
  src/euroleague_api/team_stats.py
Due: mypy

updated setup file
  setup.cfg
Due: none

documentation updated
  docs/euroleague_api/play_by_play_data.md
  docs/euroleague_api/player_stats.md
  docs/euroleague_api/team_stats.md
  site/euroleague_api/EuroLeagueData.html
  site/euroleague_api/boxscore_data.html
  site/euroleague_api/game_stats.html
  site/euroleague_api/index.html
  site/euroleague_api/play_by_play_data.html
  site/euroleague_api/player_stats.html
  site/euroleague_api/shot_data.html
  site/euroleague_api/standings.html
  site/euroleague_api/team_stats.html
  site/euroleague_api/utils.html
Due: none

docstring formating issues
  setup.cfg
  src/euroleague_api/play_by_play_data.py
Due: mypy

updated docs
  docs/euroleague_api/play_by_play_data.md
  site/euroleague_api/boxscore_data.html
  site/euroleague_api/play_by_play_data.html
  site/euroleague_api/utils.html
Due: none

added play by play data with lineup functions for season and multiple seasons
  src/euroleague_api/EuroLeagueData.py
  src/euroleague_api/play_by_play_data.py
Due: mypy

stripped playtype and marketime columns
  src/euroleague_api/play_by_play_data.py
Due: mypy

minor improvements in lineup extractions from pbp data, bug fix if same player is in and out
  src/euroleague_api/EuroLeagueData.py
  src/euroleague_api/play_by_play_data.py
Due: mypy

updated docs and cfg file for new version
  docs/euroleague_api/play_by_play_data.md
  setup.cfg
  site/euroleague_api/EuroLeagueData.html
  site/euroleague_api/boxscore_data.html
  site/euroleague_api/game_stats.html
  site/euroleague_api/play_by_play_data.html
  site/euroleague_api/player_stats.html
  site/euroleague_api/shot_data.html
  site/euroleague_api/standings.html
  site/euroleague_api/team_stats.html
Due: none

Update team_stats.py
  src/euroleague_api/team_stats.py
Due: mypy

funding yml added
  .github/funding.yml
Due: none

added bac link to readme.md
  README.md
Due: none

typo fixed
  README.md
Due: none

Path conditions:
  check-nbstripout-installed: any of: \.ipynb$
  mypy: any of: \.py$
